name: Website Updater

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  Update:
    runs-on: self-hosted

    steps:
      - name: Clone repository to local
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Check IP
        run: curl https://api.ipify.org

      - name: Make env file
        run: |
          echo "DATABASE_HOST=host.containers.internal" >> backend/.env
          echo "DATABASE_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> backend/.env
          echo "STATIC_SITE_NAME=static.squiddy.me" >> backend/.env
          echo "STATIC_SITE_PROTOCOL=https" >> backend/.env

      - name: Make Peerly secrets
        run: |
          echo '{"SESSION_SECRET": "${{ secrets.PEERLY_SESSION_SECRET }}", "MEMCACHED_SECRET": "${{ secrets.PEERLY_MEMCACHED_SECRET }}"}' > ./peerly/backend/src/secrets.json

      - name: Signal for restart
        run: echo "1" > restart.txt
